# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
.venv
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (optional, if you want to ignore generated migration files)
# Uncomment the next line if you want to ignore all migration files except __init__.py
#