{% extends "groups/group_base.html" %}
{% load bootstrap3 %}

{% comment %} {% block group_content %}
<h4>Create A New Group</h4>
  <form method="POST" action="{% url 'groups:create' %}" id="groupForm">
  	{% csrf_token %}
  	{% bootstrap_form form %}
  	<input type="submit" value="Create" class="btn btn-primary btn-large">
  </form>
{% endblock %} {% endcomment %}

{% block group_content %}
<h4>{% if form.instance.pk %}Edit Group{% else %}Create A New Group{% endif %}</h4>
 <form method="POST"
      action="{% if form.instance.pk %}
                 {% url 'groups:update' slug=form.instance.slug %}
              {% else %}
                 {% url 'groups:create' %}
              {% endif %}"
      id="groupForm">
  	{% csrf_token %}
  	{% bootstrap_form form %}
  	<input type="submit" value="{% if form.instance.pk %}Update{% else %}Create{% endif %}" class="btn btn-primary btn-large">
  </form>
{% endblock %}
